/* In dieser Dateien werden alle möglichen Variablen für gleiche Elemente auf 
Unterschiedlichen Seiten der Website gespeichert. Sie sind hier global abrufbar 
und über die Import Anweisung von dieser Datei in einer anderen CSS Datei verwendbar. */

:root 
{
    /* Ich habe die Farbe eines Bleistiftes für die meisten Texte genommen. */

    /* Die Standart Textfarbe von einem Link innerhalb der Website */
    --textFarbeLink: #41424C;

    /* Farben für die Nav Bar */
    --hintergrundFarbeNav: #DCDCDC ;
    --textFarbeNav: #41424C;

    --hintergrundFarbeFooter: #DCDCDC ;
    --textFarbeFooter: #41424C;

    /* Die Background Color von allem außer Nav Bar und Footer */
    --hintergrundFarbeInhalt: #FAFAFA ;

     /* Die Standart Textfarbe für jeden Text im Inhaltsbereich */
    --textFarbeInhalt: #41424C;

    /* Die Farbe auf dem Root Element. Also das Element auf dem alle anderen platziert werden.
    (Wird meine ich Body genannt) */
    --hintergrundFarbeBody: #f5f5f5;

    /* Die Textfarbe für den Body. Damit ist diese Textfarbe nochmal allgemeingültiger als die 
    Textfarbe für den Inhalt. */
    --textFarbeBody: #41424C;

    --umrandungBorderNav: #cdcccc;
    --umrandungBorderFooter: #cdcccc;


    /* Wird überall im gesamten Code verwendet häufig, um Abstände zum äußeren
    Rand zu definieren. */
    --borderOffset: 0.8%;

    /* Dieser Wert gibt ab, wie sehr die Ecken von einem Element auf dem Bildschirm 
    abgerundet werden sollen. Da meine Website mit sehr vielen Runden Ecken arbeitet 
    wird dieser Wert dementsprechend häufig verwendet. */
    --borderRadius: 10px;

    /* Eine Sammlung verschiender Textgrößen, die hiermit einheitlich für die gesamte 
    Website gestaltet sind.  */
    /* --textGrößeÜberschriftH1: 36px;
    --textGrößeÜberchriftH2: 24px;
    --textGrößeFooter: 24px;
    --textGröße: 18px; */

    --textGrößeÜberschriftH1: clamp(1.8rem, 4vw, 2.5rem);
    --textGrößeÜberschriftH2: clamp(1.2rem, 3vw, 2rem);
    --textGrößeFooter: clamp(1rem, 2vw, 1.5rem);
    --textGrößeNav: clamp(1rem, 2vw, 1.5rem);
    --textGröße: clamp(0.9rem, 2vw, 1.25rem);
}