/** Diese CSS Datei gibt Formatierungsregeln für die Verwendung der 
Website auf einem Mobilen Gerät vor. */

@import url('../variablen.css');

section .linkBereich .links
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1em;

    padding-top: 1em;
}

/* Für die Mobile Ansicht die Pfeile vor die Links anzeigen */
section .linkBereich .links a::before
{
    content: "▶";
    margin-right: 8px;
}

section .linkBereich .links a
{
    font-weight: bold;

    color: var(--textFarbeLink);
}

/* Der Hover Effekt funktioniert nicht auf Touch Displays... */
.mobile_links a:hover       /* Ist diese Klasse nicht schon längst außer betrieb?
{
    text-decoration: underline;
}